# General
snippet init "init"
import {FC, ReactElement} from 'react'
//import {classnames} from 'classnames'

export interface $1Props {
}

const $1: FC<$1Props> = ({}): ReactElement => {
  return (<></>)
}
$1.defaultProps = {
}
export default $1
endsnippet

snippet cl "Logging"
console.log($0);
endsnippet

snippet pdb "Debugger"
debugger;
endsnippet

snippet desc "describe"
describe('$1', () => {
  $2
});
endsnippet

snippet it "it"
it('it should $1', () => {
  $2
});
endsnippet
