[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[1212c72a-ac1b-4e4c-96b3-4c898d2f897b]
row=4
col=0

[D0CA3A3ECA3A2160]
row=3
col=0

[Trash]
row=0
col=0

[/]
row=1
col=0

[/home/frbl]
row=2
col=0

